*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.l-header {
  position: fixed;
  z-index: 1000;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 24px 32px;
  background-color: #f9fbfe;
}
.l-header .p-top-header-logo-img {
  width: 112px;
  height: 100%;
}
.l-header .p-top-header-logo-small {
  display: none;
}
.l-header .c-btn {
  margin-right: 0;
  font-size: 0.75rem;
  padding: 11px 18px;
  max-width: 110px;
}
.l-header .p-top-header-nav {
  margin-left: auto;
  align-items: center;
  display: flex;
}
.l-header .p-top-header-nav a {
  display: flex;
  padding: 14px 16px;
  color: #2b546a;
  font-size: 14px;
  margin: 0 8px;
  border-radius: 5px;
}
.l-header .p-top-header-nav a:hover {
  background: #f0f5fd;
}
.l-header .p-top-header-nav span {
  margin-left: 5px;
}

.p-top-language {
  position: relative;
  display: flex;
  flex-direction: column;
}
.p-top-language .p-top-language-text-wrap {
  box-shadow: 0px 0px 20px #E4E7EA;
  position: absolute;
  top: 45px;
  left: 15px;
  width: 165px;
  height: 51px;
  background-color: white;
}
.p-top-language .p-top-language-text-wrap a {
  box-shadow: 0px 0px 20px #E4E7EA;
  transition: all 0.3s ease 0s;
  line-height: 1.7;
  padding: 14px 20px;
  color: #5876a3;
  display: block;
  margin: 0;
  background: white;
  border-radius: 2px;
}
.p-top-language .p-top-language-text-wrap a:first-child {
  background-color: #f0f4f9;
}

@media (max-width: 768px) {
  .l-header {
    padding: 12px 25px;
  }
  .l-header .c-btn {
    padding: 7px 12;
  }
  .l-header .p-top-header-logo-small {
    display: inline-block;
    width: 20px;
  }
  .l-header .p-top-header-logo-img {
    display: none;
  }
  .l-header .p-top-header-nav a {
    font-size: 12px;
    padding: 0 8px;
  }
  .l-header .p-top-header-nav .p-top-small {
    display: none;
  }
}
.p-top-top-section {
  padding-top: 136px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.p-top-top-section h2 {
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  letter-spacing: 0.03em;
  line-height: 1.5;
  color: #2b546a;
}
.p-top-top-section .c-btn {
  margin: 0 auto;
  min-width: 200px;
  padding: 13px 15px;
}
.p-top-top-section .p-top-top-img-wrap {
  margin-top: 64px;
  width: 100%;
  height: 100%;
  padding: 70px 4% 0 4%;
  background: #88e7ce;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.p-top-top-section .p-top-top-img {
  overflow: hidden;
  width: 100%;
  max-width: 1000px;
}

.p-top-progate-users {
  display: flex;
  margin: 16px auto 48px;
  align-items: center;
}
.p-top-progate-users p {
  color: #8491a5;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 0.03em;
}
.p-top-progate-users p span {
  font-size: 18px;
  color: #2b546a;
}
.p-top-progate-users .p-top-users-total {
  margin-right: 20px;
}
.p-top-progate-users img {
  width: 20px;
  margin-right: 8px;
  max-width: 100%;
}

.p-top-curriculum-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 96px 4.16%;
}
.p-top-curriculum-section h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #2b546a;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 40px;
}
.p-top-curriculum-section p {
  font-size: 1rem;
  line-height: 2;
  color: #8491a5;
  margin-top: 16px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.p-top-curriculum-section .p-top-curriculum-img-wrap {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 72px;
  width: 100%;
}
.p-top-curriculum-section .p-top-curriculum-img-wrap img {
  width: 100%;
  max-width: 1000px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.p-top-success-story {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 96px 4.16%;
  background-color: #2b546a;
  text-align: center;
}
.p-top-success-story h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}
.p-top-success-story .p-top-success-story-detail {
  font-size: 1rem;
  margin-top: 16px;
  color: #fff;
}
.p-top-success-story .p-top-success-story-wrap {
  max-width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
  margin: 56px 0;
}
.p-top-success-story .c-btn {
  color: #2b546a;
  background-color: #f0f4f9;
  min-width: 200px;
  height: 48px;
}
.p-top-success-story .c-btn:hover {
  background-color: #ccd9ea;
}

.p-top-success-story-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  max-width: 312px;
  border-radius: 10px;
  padding: 40px 24px;
  text-align: center;
  font-weight: bold;
  transition: 0.3s;
}
.p-top-success-story-content:hover {
  transform: scale(1.01) translate3d(0, -2px, 0);
}
.p-top-success-story-content .p-top-person-img-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 33.333%;
}
.p-top-success-story-content .p-top-person-img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.p-top-success-story-content .p-top-success-story-text {
  font-size: 1rem;
  color: #2b546a;
  margin-top: 40px;
  height: 33.333%;
}
.p-top-success-story-content .p-top-writer-wrap {
  height: 33.333%;
  width: 100%;
}
.p-top-success-story-content .p-top-writer-name {
  color: #bac6d3;
  margin-top: 32px;
}
.p-top-success-story-content .p-top-writer-country {
  color: #bac6d3;
  margin-top: 2px;
  font-size: 12px;
}

.p-top-course {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 96px 4.16%;
}

.p-top-course-wrap {
  max-width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.p-top-course-total {
  background-color: #f0f4f9;
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  border-radius: 10px;
  padding: 0 40px;
}
.p-top-course-total .p-top-course-img-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.p-top-course-total .p-top-course-total-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.p-top-course-total .p-top-course-total-content h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #2b546a;
}
.p-top-course-total .p-top-course-total-content p {
  font-size: 1rem;
  line-height: 2;
  color: #8491a5;
  margin-top: 16px;
}

.p-top-free-course, .p-top-pay-course {
  background-color: #f0f4f9;
  padding: 80px 16px 64px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-direction: column;
  height: 100%;
  color: #2b546a;
}
.p-top-free-course h2, .p-top-pay-course h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #2b546a;
}
.p-top-free-course .p-top-free-course-detail, .p-top-pay-course .p-top-free-course-detail {
  font-size: 1rem;
  line-height: 2;
  color: #8491a5;
  margin-top: 16px;
}
.p-top-free-course .p-top-free-course-lesson, .p-top-pay-course .p-top-free-course-lesson {
  font-size: 1rem;
  line-height: 2;
  color: #2b546a;
  margin-top: 16px;
  font-weight: bold;
  margin-top: 40px;
}
.p-top-free-course .p-top-free-course-fee, .p-top-pay-course .p-top-free-course-fee, .p-top-pay-course .p-top-pay-course-fee {
  font-weight: bold;
  font-size: 48px;
  text-align: center;
  color: #2b546a;
  margin-top: 8px;
  line-height: 1;
}

.p-top-pay-course {
  background-color: #f7edad;
}
.p-top-pay-course h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #2b546a;
}
.p-top-pay-course .p-top-pay-course-detail {
  font-size: 1rem;
  line-height: 2;
  color: #8491a5;
  margin-top: 16px;
}
.p-top-pay-course .p-top-pay-course-lesson {
  font-size: 1rem;
  line-height: 2;
  color: #2b546a;
  margin-top: 16px;
  font-weight: bold;
  margin-top: 40px;
}
.p-top-pay-course .p-top-pay-course-fee .p-top-pay-course-fee-attachment {
  font-size: 18px;
  padding: 0 4px;
}

.p-top-dollar {
  font-size: 32px;
  padding-right: 4px;
}

.p-top-course-lesson-status {
  color: #0070d2;
  font-size: 1rem;
}
.p-top-course-lesson-status span {
  margin-left: 5px;
}
.p-top-course-lesson-status:hover {
  color: #007eec;
}

.p-top-mobile-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 96px 4.16%;
}
.p-top-mobile-app h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #2b546a;
}
.p-top-mobile-app .p-top-mobile-app-detail {
  font-size: 1rem;
  line-height: 2;
  color: #8491a5;
  margin-top: 16px;
}
.p-top-mobile-app .p-top-mobile-app-content-wrap {
  background: #90c3f0;
  display: flex;
  border-radius: 5px;
  margin-top: 56px;
  max-width: 1000px;
  padding: 64px 64px 0;
}

.p-top-mobile-app-content-left {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  color: #fff;
  text-align: left;
}
.p-top-mobile-app-content-left h3 {
  font-size: 1.25rem;
  font-weight: bold;
}
.p-top-mobile-app-content-left p {
  font-size: 0.875rem;
  margin-top: 16px;
}
.p-top-mobile-app-content-left .p-top-mobile-app-content-left-second {
  margin-top: 40px;
}
.p-top-mobile-app-content-left .p-top-download-type-img-wrap {
  margin-top: 190px;
  display: flex;
}
.p-top-mobile-app-content-left .p-top-download-type-img-wrap .p-top-download-type-ios-wrap {
  margin-right: 18px;
}

.p-top-mobile-app-content-right {
  display: flex;
  align-items: center;
}

.p-top-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 96px 4.16%;
  background: #fff;
  padding-top: 120px;
  padding-bottom: 120px;
}
.p-top-message .p-top-message-content {
  text-align: center;
}
.p-top-message .p-top-message-content h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #2b546a;
}
.p-top-message .p-top-message-content p {
  font-size: 1rem;
  line-height: 2;
  color: #8491a5;
  margin-top: 16px;
}

.p-top-sgin-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 96px 4.16%;
  padding-top: 120px;
  padding-bottom: 120px;
}
.p-top-sgin-up h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #2b546a;
}
.p-top-sgin-up p {
  font-size: 1rem;
  line-height: 2;
  color: #8491a5;
  margin-top: 16px;
}
.p-top-sgin-up .c-btn {
  min-width: 200px;
  height: 48px;
  margin-top: 40px;
}

.p-top-sns {
  display: flex;
  justify-content: center;
  padding: 48px 0;
  background: #fff;
}
.p-top-sns a:hover {
  opacity: .8;
}
.p-top-sns .p-top-twitter-img-wrap {
  margin-right: 40px;
}

.p-top-opinion {
  z-index: 900;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  right: 12px;
  padding: 10px;
  border-radius: 3px 3px 0 0;
  background-color: #ff577b;
  color: #fff;
  font-size: 0.75rem;
  width: 120px;
  height: 34px;
}

@media (max-width: 768px) {
  .p-top-top-section {
    padding-top: 100px;
  }
  .p-top-top-section h2 {
    font-size: 2rem;
  }
  .p-top-top-section .c-btn {
    font-size: 0.75rem;
    min-width: 110px;
    padding: 11px 14px;
  }

  .p-top-progate-users {
    margin-top: 12px;
    margin-bottom: 24px;
  }
  .p-top-progate-users img {
    width: 14px;
    margin-right: 4px;
  }
  .p-top-progate-users .p-top-users-total {
    margin-right: 7px;
  }
  .p-top-progate-users p {
    font-size: 0.8rem;
  }
  .p-top-progate-users p span {
    font-size: 0.8rem;
  }

  .p-top-curriculum-section {
    display: block;
    padding: 15% 0;
  }
  .p-top-curriculum-section .p-top-subtitle-first {
    font-size: 1.5rem;
  }
  .p-top-curriculum-section h2 {
    display: inline-block;
    text-align: left;
    margin: 0;
    margin-top: 24px;
    font-size: 18px;
    padding: 0 6%;
  }
  .p-top-curriculum-section p {
    padding: 0 6%;
    text-align: left;
    font-size: 0.75rem;
    margin-top: 8px;
  }
  .p-top-curriculum-section .p-top-curriculum-img-wrap {
    padding-left: 6%;
    overflow: auto;
    margin: 0;
    justify-content: normal;
  }
  .p-top-curriculum-section .p-top-curriculum-img-wrap img {
    width: 150%;
    margin: 56px 6% 0 0;
    padding-right: 6%;
  }
  .p-top-curriculum-section .p-top-curriculum-img-wrap .p-top-curriculum-img-first {
    margin-top: 24px;
  }

  .p-top-success-story h2 {
    font-size: 18px;
  }
  .p-top-success-story .p-top-success-story-detail {
    font-size: 0.75rem;
  }
  .p-top-success-story .p-top-success-story-wrap {
    grid-template-columns: 1fr;
    grid-gap: 6vw;
    margin: 32px 0;
  }
  .p-top-success-story .p-top-success-story-content {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: auto 1fr;
    padding: 24px 16px 0;
    max-width: 100%;
  }
  .p-top-success-story .p-top-small {
    display: none;
  }
  .p-top-success-story .p-top-person-img-wrap {
    grid-column: 1;
    margin-top: 18px;
    width: fit-content;
  }
  .p-top-success-story .p-top-person-img-wrap .p-top-person-img {
    width: 50px;
    height: 50px;
    margin-top: 23px;
  }
  .p-top-success-story .p-top-success-story-text {
    margin-top: 0;
    grid-column: 1/3;
    grid-row: 1;
    font-size: 0.75rem;
    text-align: left;
  }
  .p-top-success-story .p-top-writer-wrap {
    align-items: flex-start;
    text-align: left;
    flex-direction: column;
    margin: 23px 0 0 12px;
    grid-column: 2;
  }
  .p-top-success-story .p-top-writer-wrap .p-top-writer-name {
    grid-column: 2/3;
    grid-row: 2;
    font-size: 0.75rem;
    margin-top: 0;
  }
  .p-top-success-story .p-top-writer-wrap .p-top-writer-country {
    grid-row: 3/4;
    grid-column: 2/3;
    font-size: 11px;
    margin-top: 0;
  }
  .p-top-success-story .c-btn {
    font-size: 0.75rem;
    min-width: 110px;
    height: 40px;
  }

  .p-top-course {
    padding: 15% 6%;
  }

  .p-top-course-wrap {
    grid-template-columns: 1fr;
    grid-gap: 6vw;
    margin-bottom: 16px;
  }

  .p-top-course-total {
    grid-template-columns: 1fr;
    grid-gap: 0;
    grid-column: 1;
    padding-top: 48px;
    text-align: center;
  }
  .p-top-course-total .p-top-course-img-wrap {
    order: 2;
  }
  .p-top-course-total .p-top-course-total-content {
    padding: 0;
  }
  .p-top-course-total .p-top-course-total-content h2 {
    font-size: 18px;
  }
  .p-top-course-total .p-top-course-total-content p {
    font-size: 0.75rem;
  }

  .p-top-free-course h2, .p-top-pay-course h2,
  .p-top-pay-course h2 {
    font-size: 18px;
  }
  .p-top-free-course .p-top-free-course-detail, .p-top-pay-course .p-top-free-course-detail,
  .p-top-free-course .p-top-pay-course-detail,
  .p-top-pay-course .p-top-pay-course-detail,
  .p-top-pay-course .p-top-free-course-detail,
  .p-top-pay-course .p-top-pay-course-detail {
    font-size: 0.75rem;
    margin-top: 8px;
  }
  .p-top-free-course .p-top-free-course-lesson, .p-top-pay-course .p-top-free-course-lesson,
  .p-top-free-course .p-top-pay-course-lesson,
  .p-top-pay-course .p-top-pay-course-lesson,
  .p-top-pay-course .p-top-free-course-lesson,
  .p-top-pay-course .p-top-pay-course-lesson {
    font-size: 0.75rem;
    margin-top: 40px;
  }
  .p-top-free-course .p-top-free-course-fee, .p-top-pay-course .p-top-free-course-fee, .p-top-pay-course .p-top-pay-course-fee,
  .p-top-free-course .p-top-pay-course-fee,
  .p-top-pay-course .p-top-pay-course-fee,
  .p-top-pay-course .p-top-free-course-fee,
  .p-top-pay-course .p-top-pay-course-fee,
  .p-top-pay-course .p-top-pay-course-fee {
    font-size: 32px;
  }
  .p-top-free-course .p-top-free-course-fee .p-top-pay-course-fee-attachment, .p-top-pay-course .p-top-free-course-fee .p-top-pay-course-fee-attachment, .p-top-pay-course .p-top-pay-course-fee .p-top-pay-course-fee-attachment,
  .p-top-free-course .p-top-pay-course-fee .p-top-pay-course-fee-attachment,
  .p-top-pay-course .p-top-pay-course-fee .p-top-pay-course-fee-attachment,
  .p-top-pay-course .p-top-free-course-fee .p-top-pay-course-fee-attachment,
  .p-top-pay-course .p-top-pay-course-fee .p-top-pay-course-fee-attachment,
  .p-top-pay-course .p-top-pay-course-fee .p-top-pay-course-fee-attachment {
    font-size: 12px;
  }

  .p-top-dollar {
    font-size: 24px;
  }

  .p-top-course-lesson-status {
    font-size: 0.75rem;
    margin-top: 8px;
  }

  .p-top-mobile-app {
    display: block;
    text-align: center;
    padding: 0 6% 15% 6%;
  }
  .p-top-mobile-app h2 {
    font-size: 18px;
  }
  .p-top-mobile-app .p-top-mobile-app-detail {
    font-size: 0.75rem;
    margin-top: 8px;
  }
  .p-top-mobile-app .p-top-mobile-app-content-wrap {
    padding: 32px 7% 40px;
    flex-direction: column-reverse;
    margin-top: 40px;
  }

  .p-top-mobile-app-content-left {
    min-width: initial;
    margin-right: 0;
  }
  .p-top-mobile-app-content-left h3 {
    font-size: 1rem;
    margin-right: 0;
  }
  .p-top-mobile-app-content-left p {
    font-size: 0.75rem;
    margin-top: 8px;
  }
  .p-top-mobile-app-content-left .p-top-mobile-app-content-left-first {
    margin-top: 0;
  }
  .p-top-mobile-app-content-left .p-top-mobile-app-content-left-second {
    margin-top: 24px;
  }
  .p-top-mobile-app-content-left .p-top-download-type-img-wrap {
    margin: 40px 0 0;
  }
  .p-top-mobile-app-content-left .p-top-download-type-img-wrap .p-top-download-type-ios-wrap {
    margin-right: 12px;
  }

  .p-top-mobile-app-content-right {
    max-width: 300px;
  }

  .p-top-message {
    padding: 19% 6%;
  }
  .p-top-message .p-top-message-content {
    text-align: left;
  }
  .p-top-message .p-top-message-content h2 {
    font-size: 18px;
  }
  .p-top-message .p-top-message-content p {
    margin-top: 24px;
    font-size: 0.75rem;
  }

  .p-top-sgin-up {
    padding: 19% 6%;
  }
  .p-top-sgin-up h2 {
    font-size: 18px;
  }
  .p-top-sgin-up p {
    font-size: 0.75rem;
    margin: 8px 0 24px;
  }
  .p-top-sgin-up .c-btn {
    font-size: 0.75rem;
    width: 110px;
    height: 40px;
    margin: 0;
  }

  .p-top-sns {
    padding: 32px 0;
  }
  .p-top-sns .p-top-twitter-img-wrap,
  .p-top-sns .p-top-facebook-img-wrap {
    width: 20px;
  }
}
.l-footer {
  display: flex;
  justify-content: center;
  background: #fff;
  border-top: 1px solid #eee;
  letter-spacing: 0.04em;
  font-family: "AvenirNext", "Lato", "Hirago KakuGothic ProN", Meiryo, sans-serif;
}
.l-footer .p-top-footer-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 50px 0;
  width: 1170px;
}
.l-footer h4 {
  color: #2b546a;
  font-weight: normal;
}
.l-footer .p-top-copyright {
  width: 100%;
  padding: 0 15px;
  font-size: 0.625rem;
  color: #8491a5;
  text-align: left;
}

.p-top-both-sides {
  width: 33.33333333%;
  padding: 0 15px;
}
.p-top-both-sides .p-top-footer-logo-img {
  width: 144px;
  height: 34px;
  height: auto;
  padding-bottom: 48px;
}
.p-top-both-sides .p-top-app-text {
  margin-top: 40px;
}
.p-top-both-sides .p-top-download-type-img-wrap {
  display: flex;
  margin-top: 10px;
}
.p-top-both-sides .p-top-download-type-ios-wrap {
  margin-right: 10px;
}
.p-top-both-sides .p-top-business-logo-img-wrap-wrap {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
  border-radius: 2px;
  padding: 20px 15px;
  max-width: 248px;
  margin-top: 15px;
}
.p-top-both-sides .p-top-business-logo-img-wrap-wrap:hover {
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.16);
}
.p-top-both-sides .p-top-bsiness-text {
  max-width: 248px;
  margin-top: 20px;
  background-color: #f9fbfe;
  border-radius: 2px;
  padding: 20px 23px;
  font-size: 0.75rem;
  color: #8491a5;
}

.p-top-center {
  width: 16.66666667%;
}
.p-top-center h4 {
  font-size: 1.1rem;
}
.p-top-center li {
  padding-top: 10px;
}
.p-top-center a {
  font-size: 0.75rem;
  color: #6783a0;
}
.p-top-center a:hover {
  color: #44dcc0;
}
.p-top-center .p-top-footer-sns {
  margin-top: 40px;
}

@media (max-width: 768px) {
  .l-footer {
    padding: 15px auto;
    width: auto;
  }
  .l-footer .p-top-footer-wrap {
    text-align: center;
    margin-top: 15px;
    flex-direction: column;
    align-items: center;
  }
  .l-footer .p-top-copyright {
    display: block;
    margin-top: 45px;
    font-size: 0.625rem;
    text-align: center;
  }
  .l-footer .p-top-copyright p {
    display: inline-block;
  }

  .p-top-both-sides {
    width: auto;
    justify-content: center;
  }
  .p-top-both-sides .p-top-footer-logo-img {
    margin: 10px auto 0;
    width: 125px;
    padding-bottom: 24px;
  }
  .p-top-both-sides .p-top-app-text {
    margin: 50px 0 10px;
    text-align: center;
  }
  .p-top-both-sides .p-top-download-type-img-wrap {
    margin: 0 auto 50px;
    justify-content: center;
  }
  .p-top-both-sides .p-top-download-type-img-wrap .p-top-download-type-ios-wrap {
    margin: 0 10px 5px 0;
  }
  .p-top-both-sides h4 {
    margin-bottom: 15px;
  }
  .p-top-both-sides .p-top-business-logo-img-wrap-wrap {
    margin: 0 auto;
    text-align: center;
  }
  .p-top-both-sides .p-top-bsiness-text {
    display: block;
    margin: 20px auto 0;
  }

  .p-top-center {
    width: auto;
  }
  .p-top-center h4 {
    font-size: 1.1rem;
  }
  .p-top-center .p-top-center-content li:last-child {
    margin-bottom: 40px;
  }
}
.c-btn {
  color: white;
  background-color: #30c8d6;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  font-size: 0.875rem;
  letter-spacing: 0.02em;
  border-radius: 5px;
}
.c-btn:hover {
  background-color: #23a4b0;
}

body {
  background: #f8fbfe;
  font-family: 'Lato', sans-serif;
}

/*# sourceMappingURL=style.css.map */
