
// MAIN

.main {
    height: 100px;
    width: 100px;
    // background-color: red;
    // background-image: url(/images/top_image.svg);
    background-image: url(/images/https:/d18en44nkeqroq.cloudfront.net/paths/node/top_image.svg);
}