

.c-btn {
    color: rgb(255, 255, 255);
    background-color: rgb(48, 200, 214);
    font-weight: bold;
    letter-spacing: 0.02em;
    border-radius: 5px;
    padding: 14px 18px;
    // font-size: 0.75rem;
}