

.c-btn {
    color: rgb(255, 255, 255);
    background-color: rgb(48, 200, 214);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 0.875rem;
    letter-spacing: 0.02em;
    border-radius: 5px;
    &:hover {
        background-color: rgb(35, 164, 176);
    }
}
