

$pc: 1200px;
$sp: 768px;  // スマホ

@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

@mixin common-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 96px 4.16%;
}

@mixin common-subtitle-style($color:#2b546a) {
    font-size: 2rem;
    font-weight: bold;
    color: $color;
}

@mixin common-detail-style($color:#8491a5) {
    font-size: 1rem;
    line-height: 2;
    color: $color;
    margin-top: 16px;
}

// @mixin btn {
//   color: rgb(255, 255, 255);
//   background-color: rgb(48, 200, 214);
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   text-align: center;
//   font-weight: bold;
//   font-size: 0.875rem;
//   letter-spacing: 0.02em;
//   border-radius: 5px;
//   &:hover {
//       background-color: rgb(35, 164, 176);
//   }
// }

$subtitle-color: #2b546a;
$detail-color: #8491a5;