
// HEADER

.l-header {
    height: 400px;
    position: fixed;
    z-index: 1000;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 24px 32px;
    background-color: #f9fbfe;
    .p-top-header-logo-img {
        width: 112px;
        height: 100%;
    }
    .p-top-header-logo-small {
        display: none;
    }
    .c-btn {
        margin-right: 0;
        font-size: 0.75rem;
        padding: 11px 18px;
        max-width: 110px;
    }
    .p-top-header-nav {
        margin-left: auto;
        align-items: center;
        display: flex;
        a {
            display: flex;
            padding: 14px 16px;
            color: $subtitle-color;
            font-size: 14px;
            margin: 0 8px;
            border-radius: 5px;
            &:hover {
                background: #f0f5fd;
            }
        }
        span {
            margin-left: 5px;
        }
    }
}
.p-top-language {
    position: relative;
    display: flex;
    flex-direction: column;
    .p-top-language-text-wrap {
        // display: none;
        box-shadow: 0px 0px 20px #E4E7EA;
        position: absolute;
        top: 45px;
        left: 15px;
        width: 165px;
        height: 51px;
        background-color: rgb(255, 255, 255);
        a {
            box-shadow: 0px 0px 20px #E4E7EA;
            transition: all 0.3s ease 0s;
            line-height: 1.7;
            padding: 14px 20px;
            color: rgb(88, 118, 163);
            display: block;
            margin: 0;
            background: rgb(255, 255, 255);
            border-radius: 2px;
            // background-color: rgb(240, 244, 249);
            &:first-child {
                background-color: rgb(240, 244, 249);
            }
        }
    }
}







/////////////////////
///// レスポンシブ/////
/////////////////////


@include sp {
    .l-header {
        padding: 12px 25px;
        .c-btn {
            padding: 7px 12;
        }
        .p-top-header-logo-small {
            display: inline-block;
            width: 20px;
        }
    }
    .p-top-header-logo-img {
        display: none;
    }
    .p-top-header-nav {
        a {
            font-size: 12px;
            padding: 0 8px;
        }
        .p-top-small {
            display: none;
        }
    }
    
}
